<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img [src]="recipe.picture">
    </div>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="squared" [src]="recipe.picture" alt="{{ recipe.name }}">
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/recipe',this.recipe.id]">See details </button>
  </mat-card-actions>
</mat-card>
