.example-card {
  max-width: 500px;
  margin: 8px;
}

.example-header-image {
  img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
}

.description{
  height: 80px;
}

.squared {
  object-fit: cover;
  margin: 2px;
  width:300px;
  height:300px;
}
