<button mat-raised-button color="primary" (click)="toggleSort()">Sort </button>
<br>
<div *ngIf="sortEnabled">
  <button mat-raised-button color="primary" (click)="sortBy()" [ngPlural]="asc">
    <ng-template ngPluralCase="=true">Alphabetically</ng-template>
    <ng-template ngPluralCase="=false">Reversed alphabetically</ng-template>
  </button>
</div>
<div class="container" *ngIf="recipes" @staggerAnim>
  <app-recipe class="col{{i%4}}" *ngFor=" let recipe of recipes | orderBy:sortEnabled:asc; let i=index" [recipe] = "recipe" (delete)="recipeDeleted(recipe)">
  </app-recipe>
</div>
